includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
    tmpDir: var/cache/ecs
    level: 6
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
